.container {
  width: 300px;
  margin: 0 auto;
  padding: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color:gray;
}

h1 {
  font-size: 24px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
body{
	background-image:url("images/login.jpg");
}
